{% extends "base.html" %}

{% block title %} Inicio {% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="cont-button">
    <a id="btn-agregar" href="{% url 'pokemon' %}">Nuevo +</a>
</div>
{%endif %}
<div id="contenedor-poke">

    {% for pokemon  in pokemons %}
    <div class="tarjet">

        <h3>
            {{pokemon.name}}
        </h3>


        <div class="sprite">
            
            <img src="{{pokemon.path_sprite}}" alt="">
        </div>
        <div class="habilities">

        </div>

    </div>
    {% endfor %}
</div>

{% endblock %}