{% extends "base.html" %}

{% block title %} Registro {% endblock %}

{% block content%}
<div id="conte-form">
    <form method="post" action=''>
        {% csrf_token %}
        <div class="form-campos">
            {{form.name.label}}
            {{form.name}}
        </div>
        <div class="form-campos">
            {{form.path_sprite.label}}
            {{form.path_sprite}}
        </div>
        <div class="btn-enviar">

            <button type="submit">Enviar</button>
        </div>
    </form>
</div>

{% endblock %}